.page{
  padding: 100px 0 0 0;
  max-width: 80%;
  margin: 0 auto;
}

.page h2{
  display: inline-block;
}

.page .button{
  display: inline-block;
  float: right;
}

.page .button a{
  color: #fff;
  background: #0A2558;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-create{
  background-color: #0A2558;
}


