.ng-invalid:not(form) ~ .input-field input{
  border-bottom: 2px solid red;
}

.login-container .forms .alert-message {
  color: red;
  margin-top: 8px;
  font-size: 16px
}
.submit-button[disabled]{
  opacity: 0.8;
}

