<script src="../admin-login/admin-login.component.spec.ts"></script>
<app-sidebar></app-sidebar>
<section class="home-section">
  <nav>
    <div class="sidebar-button" >
      <i class='bx bx-menu sidebarBtn'></i>
      <span class="dashboard">Discount</span>
    </div>
    <div class="profile-details">
      <img src="assets/images/img.png" alt="">
      <span class="admin_name">Admin</span>
      <i class='bx bx-chevron-down'></i>
    </div>
  </nav>

  <div class="container">
    <div class="page">
      <h2>All Discount</h2>
      <div class="button">
        <a routerLink="/admin/discount/create">Add New Discount</a>
      </div>
      <div style="overflow-x: auto">
        <table class="layout display responsive-table">
          <thead>
          <tr>
            <th class="id text-light">Id</th>
            <th class="name text-light">Product</th>
            <th class="description text-light">Description</th>
            <th class="price text-light">Discount</th>
            <th class="action text-light" style="width: 100px">Price</th>
            <th class="action text-light" style="width: 90px">Active</th>
            <th class="action text-light">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let discount of discounts">
            <td class="organisationnumber">{{discount.id}}</td>
            <td>
              <div class="row-product">
                <img src="{{discount.image_path}}" alt="" class="img-product">
                <div><span>{{discount.name}}</span></div>
              </div>
            </td>
            <td class="organisationname">{{discount.desc}}</td>
            <td>{{discount.discount_percent}}%</td>
            <td>${{discount.price}}</td>
            <td>
              <span *ngIf="!discount.active" class="text-danger">No</span>
              <span *ngIf="discount.active" class="text-success">Yes</span>
            </td>
            <td class="actions">
              <a routerLink="/admin/discount/edit/{{discount.id}}" class="edit-item" title="Edit">Edit</a>
              <a (click)="onDelete(discount.id)" class="remove-item" title="Remove">Remove</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</section>
