<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">Red Store</span>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/admin" >
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a  routerLink="/admin/product">
        <i class='bx bx-box'></i>
        <span class="links_name">Product</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/order">
        <i class='bx bx-list-ul'></i>
        <span class="links_name">Order</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/customer">
        <i class='bx bx-user'></i>
        <span class="links_name">Customer</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/discount">
        <i class='bx bxs-discount'></i>
        <span class="links_name">Discount</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Setting</span>
      </a>
    </li>
    <li class="log_out">
      <a href="#" (click)="logout($event)">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>
