<div class="navbar">
  <div class="logo">
    <a href="/home"><img src="assets/images/logo.png" alt="Logo Store" width=125px></a>
  </div>
  <nav>
    <ul >
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="product-list" href="/book">Products <i class="arrow down"></i></a>
        <div class="product-list-item">
          <div class="row">
            <div class="col-4 product-sub-item">
              <a href="">Biographies & Memoirs</a>
              <ul class="list-sub-item">
                <li><a href="">Arts & Literature</a></li>
                <li><a href="">Cultural</a></li>
                <li><a href="">European</a></li>
                <li><a href="">Historical</a></li>
                <li><a href="">Leaders & Notable People</a></li>
              </ul>

            </div>

            <div class="col-4 product-sub-item">
              <a href="">Children 's</a>
              <ul>
                <ul class="list-sub-item">
                  <li><a href="">Action & Adventure</a></li>
                  <li><a href="">Actity Books</a></li>
                  <li><a href="">Animals</a></li>
                  <li><a href="">Cars & Trucks</a></li>
                  <li><a href="">Classics</a></li>
                </ul>
              </ul>

            </div>
            <div class="col-4 product-sub-item">
              <a href="">Education & Reference</a>
              <ul class="list-sub-item">
                <li><a href="">Catalogs</a></li>
                <li><a href="">Colleges</a></li>
                <li><a href="">Curriculum</a></li>
                <li><a href="">Dictionaries</a></li>
                <li><a href="">Education</a></li>
              </ul>

            </div>
            <div class="col-4 product-sub-item">
              <a href="">History</a>
              <ul class="list-sub-item">
                <li><a href="">African</a></li>
                <li><a href="">Ancient</a></li>
                <li><a href="">Asian</a></li>
                <li><a href="">Black History</a></li>
                <li><a href="">Canadian</a></li>
              </ul>

            </div>
            <div class="col-4 product-sub-item">
              <a href="">Lecture & Fiction</a>
              <ul class="list-sub-item">
                <li><a href="">Anthologies</a></li>
                <li><a href="">Cultural</a></li>
                <li><a href="">European</a></li>
                <li><a href="">Historical</a></li>
                <li><a href="">Leaders & Notable People</a></li>
              </ul>

            </div>
            <div class="col-4 product-sub-item">
              <a href="">Mystery & Suspense</a>
              <ul class="list-sub-item">
                <li><a href="">Conspiracy</a></li>
                <li><a href="">Crime</a></li>
                <li><a href="">Detective</a></li>
                <li><a href="">Mysteries</a></li>
                <li><a href="">Spy</a></li>
              </ul>

            </div>
            <div class="col-4 product-sub-item">
              <a href="">Religion & Spirituality</a>
              <ul class="list-sub-item">
                <li><a href="">Agnosticism</a></li>
                <li><a href="">Astrology</a></li>
                <li><a href="">Atheism</a></li>
                <li><a href="">Buddhism</a></li>
                <li><a href="">Christian</a></li>
              </ul>

            </div>
          </div>
        </div>
      </li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="/login">Login</a></li>
        <li><a href="" class="cus-name">Dang Admin</a></li>
        <li><a href="logout">Logout</a></li>

    </ul>
  </nav>
  <a href="/?action=view"><img src="assets/images/cart.png" alt="" width="30px" height="30px"></a>
  <img src="assets/images/menu.png" class="menu-icon" (click)="menutoggle()">
</div>
