<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://i.ibb.co/kDVwgwp/logo.png" alt="" width="300px">
    <h2>Checkout form</h2>
  </div>

  <div class="row align-items-baseline">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of cartItems">
          <div>
            <h6 class="my-0">{{item.name}}</h6>
            <small class="text-muted">Quantity: {{item.qnt}}</small>
          </div>
          <span class="text-muted" *ngIf="!item.discount_price">${{item.qnt * item.price}}</span>
          <span class="text-muted" *ngIf="item.discount_price">${{item.qnt * item.discount_price}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>${{total}}</strong>
        </li>
      </ul>

    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <form class="needs-validation" [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" formControlName="first_name"
                   required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" formControlName="last_name"
                   required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="tel">PhoneNumber</label>
            <input type="text" class="form-control" id="tel" placeholder="" value="" required formControlName="tel">
          </div>
          <div class="col-md-6 mb-3">
            <label>Gender</label>
            <div class="d-flex justify-content-start">
              <div class="custom-control custom-radio me-4">
                <input id="male" name="gender" type="radio" class="custom-control-input" checked required
                       value="Male" formControlName="gender">
                <label class="custom-control-label ms-1" for="credit">Male</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="female" name="gender" type="radio" class="custom-control-input"
                       required value="Female" formControlName="gender">
                <label class="custom-control-label ms-1" for="female">Female</label>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputDob">Date Of Birth</label>
          <input type="date" class="form-control" id="exampleInputDob" aria-describedby="emailHelp"
                 formControlName="dob">
        </div>

        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="homeNo">HomeNo</label>
            <input type="text" class="form-control" id="homeNo" placeholder="HomeNo" required formControlName="homeNo">
          </div>
          <div class="col-md-3 mb-3">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" placeholder="Street" required formControlName="street">
          </div>
          <div class="col-md-3 mb-3">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="City" required formControlName="city">
          </div>
          <div class="col-md-3 mb-3">
            <label for="district">District</label>
            <input type="text" class="form-control" id="district" placeholder="District" required
                   formControlName="district">
          </div>
        </div>


        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" readonly value="{{this.createCustomerForm.get('homeNo')?.value}} {{this.createCustomerForm.get('street')?.value}} Street, {{this.createCustomerForm.get('city')?.value}} City, {{this.createCustomerForm.get('district')?.value}} District">
        </div>

        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" value="COD" checked required>
            <label class="custom-control-label  ms-1" for="credit">COD</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required value="Master Card">
            <label class="custom-control-label ms-1" for="debit">Master Card</label>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-submit" type="submit" style="width: 150px;padding: 10px;height: 48px;border-radius: 30px;">
          Checkout &#8594;
        </button>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
