/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import '~bootstrap/dist/css/bootstrap.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.td-order{
  text-align: center !important;
}

ul{
  padding: 0;
}

.th-order{
  background: #0A2558 !important;
}

.w-90{
  width: 90% !important;
}

.arrow {
  border: solid #444;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar span {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -12px;
  background-color: #ff523b;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}



.btn-submit{
  background-color: #0A2558 !important;
}

.btn-submit:hover{
  cursor: pointer;
  color: #fff;
}

nav {
  flex: 1;
  text-align: right;
  line-height: 36px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li .cus-name {
  border: 1px solid #555;
  padding: 4px 10px;
  border-radius: 12px;
  background-color: #555;
  color: #ddd;
}


nav ul .dropdown {
  position: relative;
}

nav .product-list-item {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 1000px;
  height: 500px;
  z-index: 1;
  right: -370px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.dropdown:hover .product-list-item {
  display: block;
}

.dropdown::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 2px;
  bottom: 3px;
  background-color: #555;
  transition: width 200ms ease-in;
}

.dropdown:hover::after {
  width: 72px;
}

.product-sub-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 180px;
  margin-bottom: 0 !important;
}

.product-sub-item a {
  font-weight: 500;
}

.list-sub-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-sub-item li {
  display: block;
  font-size: 14px;
}

.list-sub-item li a {
  font-weight: 400;
  margin-left: 14px;
}


/*.search-box {*/
/*  display: flex;*/
/*  top: 10px;*/
/*  left: 90px;*/
/*  background: #fff;*/
/*  height: 40px;*/
/*  border-radius: 40px;*/
/*  padding: 10px;*/
/*  border: 1px solid #999;*/
/*}*/

#search-btn {
  color: #555;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0 10px;
  color: #555;
  font-size: 16px;
  height: 20px;
  transition: 0.4s;
  line-height: 40px;
  width: 270px;
}

a {
  text-decoration: none;
  color: #555;
  cursor:pointer;
}

p {
  color: #555;
}

.container {
  max-width: 80%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.col-2 {
  flex-basis: 45%;
  min-width: 300px;
}

.img-banner{
  display: flex;
}

.col-2 img {
  max-width: 100%;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background-color: #0A2558;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background-color: #0A2558;
  color: #fff;
}

.header {
  background: linear-gradient(#fff, #777);
}


.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin: 0 10px;
}

.col-3 img {
  height: 490px;
  width: 320px;
  object-fit: cover;
}

.small-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;

}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 240px;
  height: 390px;
  object-fit: cover;
}

.small-view {
  display: flex;
  justify-content: space-around;
}

.category {
  margin-top: 104px;
  margin-left: 80px;
}

.category h2 {
  font-size: 30px;
}

.category ul {
  margin-top: 10px;
}

.category ul li {
  text-align: left;
  padding: 10px 0;
}

.contentBx {
  position: relative;
}

.contentBx .label {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  display: block;
  width: 240px;
}

.contentBx .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 16px;
}

.contentBx .sub-content li a {
  margin-left: 10px;
  font-size: 14px;
}

.contentBx .sub-content {
  position: relative;
  display: none;
  transition: 0.5s;
}

.contentBx.active .sub-content {
  display: block;
}

.contentBx.active .label::before {
  content: '-';
}

.separate {
  border-radius: 10px;
  height: 350px;
  width: 10px;
  background-color: #000000;
  margin-top: 140px;
  margin-left: 60px;
}

.small-container .title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #666;
}



h4 {
  color: #555;
  font-weight: normal;
}

.col-4 h4 {
  display: block;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.col-4 p {
  font-size: 14px;
}

.rating .fa-star,
.rating .fas {
  color: #ff523b;
}

.col-4:hover {
  transform: translateY(-5px);
}

.offer {
  background: radial-gradient(#fff, #777);
  margin-top: 80px;
  padding: 30px;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #666;
}


/* Brands */

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
  flex-basis: 20%;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0%);
}


/* Footer */

.footer {
  background-color: #000000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none !important;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.coppyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}


/* ------- all products page -------- */

.row-2 {
  justify-content: space-between;
  align-items: flex-start;
  margin: 100px auto 50px;
}

select {
  border: 1px solid #ff523b;
  padding: 4px;
  font-size: 12px;
  font-weight: 500;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 60px 80px 350px;
  cursor: pointer;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background-color: #ff523b;
  color: #fff;
}


/* ----single product details----- */

.product-info{
  align-self: flex-start;
}

.product-info form button{
  border: none;
  padding: 12px 36px;
  cursor: pointer;
}

.product-info p a{
  text-decoration: underline;
}

.product-info p a:last-child{
  font-weight: 500;
}

.product-info h1{
  margin-top: 90px;
}

.single-product {
  margin-top: 25px;
}

.single-product .col-2 img {
  padding: 0;
  pointer-events: none;
}

.single-product .col-2 {
  overflow: hidden;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 10px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

.book-info {
  font-size: 16px;
  padding: 0 !important;
  margin: 20px 0;
}

.book-info span {
  font-weight: 500;
}

.single-product .product-if {
  align-self: flex-start;
}

input:focus {
  outline: none;
}

.single-product .fas {
  color: #ff523b;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* cart items */

.cart-page {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  background: #0A2558;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

.cart-page .btn{
  align-self: flex-end;
  width: 200px;
}


td a {
  color: #ff523b;
  font-size: 12px;
}

td p{
  font-size: 20px;
}

td img {
  width: 80px;
  margin-right: 10px;
}

.quantity {
  display: flex;
  margin-right: 60px;
  align-items: flex-start;
}

.quantity form{
  display: flex;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}



.quantity button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.minus-btn img {
  margin-right:0px;
  width: 20px;
}
.plus-btn img {
  margin-bottom: 2px;
  margin-right:0px;
  width: 20px;
}

button:focus,
input:focus {
  outline:0;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #0A2558;
  width: 100%;
  max-width: 400px;
}



th:last-child {
  text-align: center;
}



/* Googlefont Poppins CDN Link */


.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: #081D45;
}

.sidebar .nav-links li a:hover {
  background: #081D45;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .search-field {
  position: relative;
  height: 50px;
  min-width: 350px;
  width: 100%;
  margin: 0 20px;
}

nav .search-field input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-field .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4s ease;
}

nav .search-field .search-data {
  position:absolute;
  width: inherit;
  background: #fff;
  margin-top: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: none;
}

nav .search-field .search-data .search-product{
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  width: inherit;
  display: flex;
}

nav .search-field .search-data .search-product:hover{
  background: #ccc;
  cursor: pointer;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}

.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .indicator {
  display: flex;
  align-items: center;
}

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}

.box .indicator i.down {
  background: #e87d88;
}

.home-content .box .indicator .text {
  font-size: 12px;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
  color: #2BD47D;
  background: #C0F2D8;
}

.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}

.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}

.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}


/* left box */
.home-content .sales-boxes .recent-sales {
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}

.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}

.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sales-boxes .box .button a {
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sales-boxes .box .button a:hover {
  background: #0d3073;
}

.sales-boxes .recent-sales .item {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.sales-boxes .recent-sales .buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.sales-boxes .recent-sales .delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}

.sales-boxes .recent-sales .delete-btn {
  width: 18px;
  height: 17px;
  background: url(https://designmodo.com/demo/shopping-cart/delete-icn.svg) no-repeat center;
}

.sales-boxes .recent-sales .description {
  padding-top: 10px;
  margin-right: 60px;
  width: 250px;
  display: flex;
  align-items: flex-end;
}

.sales-boxes .recent-sales .description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.sales-boxes .recent-sales .description span:first-child {
  margin-bottom: 5px;
}

.sales-boxes .recent-sales .description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.sales-boxes .recent-sales .quantity {
  padding-top: 20px;
  margin-right: 60px;
}

.sales-boxes .recent-sales .quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  margin-top: 3px;
}

.sales-boxes .recent-sales button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.sales-boxes .recent-sales .minus-btn img {
  margin-bottom: 3px;
}

.sales-boxes .recent-sales .plus-btn img {
  margin-top: 2px;
}

.sales-boxes .recent-sales button:focus,
input:focus {
  outline: 0;
}

.sales-boxes .recent-sales .total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  float: left;
}


/* Right box */
.home-content .sales-boxes .top-sales {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.top-sales .find-cus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-sales .find-cus .search-box {
  margin: 20px 0 20px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex: 5;
}

.top-sales .find-cus .button {
  flex: 1;
}

.top-sales .search-box input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  margin: 0;
  padding: 0;
}

.sales-boxes .top-sales .search-box i {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 16px;
  color: #888;
}

.find-cus .search-box .search-data-customer{
  position: absolute;
  top: 32px;
  background: #fff;
  width: inherit;
  display: none;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #ccc;

}

.find-cus .search-box .search-data-customer span{
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.find-cus .search-box .search-data-customer span:hover{
  cursor: pointer;
  background: #ccc;
}

.find-cus .search-box .search-data span:last-child{
  border-bottom: none;
}

.sales-boxes .top-sales li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.sales-boxes .top-sales .payment_input{
  display: inline-block;
  margin-right: 8px;
}


.sales-boxes .top-sales li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}

.sales-boxes .top-sales li a {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}

.sales-boxes .top-sales li .item-order {
  flex-direction: column;
}

.sales-boxes .top-sales li a span {
  font-weight: 600;
  margin-right: 30px;
}

.sales-boxes .top-sales li .product,
.price, .ship{
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.sales-boxes .top-sales li .price {
  margin-right: 10px;
}

.sales-boxes .top-sales li input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 2px;
  font-size: 16px;
  display: flex;
}

.sales-boxes .top-sales li select {
  border: none;
  background: #f5f5f5;
  padding: 10px;
}

.top-sales-details::-webkit-scrollbar {
  width: 11px;
  margin-left: 10px;
}

.top-sales-details::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.top-sales-details::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 100px;
}

/* Login Pages */

.login-form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0A2558;
}

.login-container {
  position: relative;
  max-width: 550px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.login-container .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.login-container .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.login-container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.login-container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}

.login-container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.login-container.active .forms {
  height: 600px;
}

.login-container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.login-container .form .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #0A2558;
  border-radius: 25px;
}

.login-container .form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus,
 :valid) {
  border-bottom-color: #0A2558;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus,
 :valid)~i {
  color: #0A2558;
}

.input-field i.icon {
  left: 0;
}

.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.login-container .form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: #0A2558;
}

.login-container .form .text {
  color: #333;
  font-size: 14px;
}

.login-container .form a.text {
  color: #0A2558;
  text-decoration: none;
}

.login-container .form a:hover {
  text-decoration: underline;
}

.login-container .form .button {
  margin-top: 35px;
}

.login-container .form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #0A2558;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #265df2;
}

.login-container .form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 55%;
}

/* The Close Button */
.close {
  position: absolute;
  color: #aaaaaa;
  right: 16px;
  top: 0;
  font-size: 28px;
  font-weight: bold;
  z-index: 100;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content form{
  width: 70%;
  margin: auto;
}

/* Responsive Media Query */

@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active~.home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }
  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }
}



/* -----media query for menu  */

@media only screen and (max-width: 600px) {
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
}

.quantity .minus-btn img {
  margin-bottom: 3px;
}

.quantity .plus-btn img {
  margin-top: 2px;
}

.quantity button:focus,
input:focus {
  outline: 0;
}

.btn-cart{
  position: relative;
}

/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOSA4IDggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDhTMzkzIDggMjU2IDh6bTEyMS42IDMxMy4xYzQuNyA0LjcgNC43IDEyLjMgMCAxN0wzMzggMzc3LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwyNTYgMzEybC02NS4xIDY1LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwxMzQuNCAzMzhjLTQuNy00LjctNC43LTEyLjMgMC0xN2w2NS42LTY1LTY1LjYtNjUuMWMtNC43LTQuNy00LjctMTIuMyAwLTE3bDM5LjYtMzkuNmM0LjctNC43IDEyLjMtNC43IDE3IDBsNjUgNjUuNyA2NS4xLTY1LjZjNC43LTQuNyAxMi4zLTQuNyAxNyAwbDM5LjYgMzkuNmM0LjcgNC43IDQuNyAxMi4zIDAgMTdMMzEyIDI1Nmw2NS42IDY1LjF6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1NzYgNTEyJyB3aWR0aD0nNTc2JyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTU2OS41MTcgNDQwLjAxM0M1ODcuOTc1IDQ3Mi4wMDcgNTY0LjgwNiA1MTIgNTI3Ljk0IDUxMkg0OC4wNTRjLTM2LjkzNyAwLTU5Ljk5OS00MC4wNTUtNDEuNTc3LTcxLjk4N0wyNDYuNDIzIDIzLjk4NWMxOC40NjctMzIuMDA5IDY0LjcyLTMxLjk1MSA4My4xNTQgMGwyMzkuOTQgNDE2LjAyOHpNMjg4IDM1NGMtMjUuNDA1IDAtNDYgMjAuNTk1LTQ2IDQ2czIwLjU5NSA0NiA0NiA0NiA0Ni0yMC41OTUgNDYtNDYtMjAuNTk1LTQ2LTQ2LTQ2em0tNDMuNjczLTE2NS4zNDZsNy40MTggMTM2Yy4zNDcgNi4zNjQgNS42MDkgMTEuMzQ2IDExLjk4MiAxMS4zNDZoNDguNTQ2YzYuMzczIDAgMTEuNjM1LTQuOTgyIDExLjk4Mi0xMS4zNDZsNy40MTgtMTM2Yy4zNzUtNi44NzQtNS4wOTgtMTIuNjU0LTExLjk4Mi0xMi42NTRoLTYzLjM4M2MtNi44ODQgMC0xMi4zNTYgNS43OC0xMS45ODEgMTIuNjU0eicvPjwvc3ZnPg==");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
