<app-sidebar></app-sidebar>
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'></i>
      <span class="dashboard">Products</span>
    </div>

    <div class="profile-details">
      <img src="../../../../../assets/images/img.png" alt="">
      <span class="admin_name">Admin</span>
      <i class='bx bx-chevron-down'></i>
    </div>
  </nav>

  <div class="page">
    <h2>Create Products</h2>
    <div class="button">
      <a routerLink="/admin/product/">Return To Product</a>
    </div>

  </div>
  <div class="container">
    <form [formGroup]="createProductForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-group p-2">
        <label for="exampleFormControlFile1">Image</label>
        <input type="file"
               class="form-control-file ms-4"
               id="exampleFormControlFile1" formControlName="image"
               (change)="onFileChange($event)">
      </div>
      <div class="form-group p-2">
        <label for="exampleInputEmail1">Product Name</label>
        <input type="email" class="form-control"
               id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter Product Name" formControlName="name">
      </div>
      <div class="form-group p-2">
        <label>Category</label>
        <select class="form-control p-2" formControlName="category_id">
          <option value="1">T-shirt</option>
          <option value="2">Shirt</option>
          <option value="3">Jacket</option>
          <option value="4">Coat</option>
          <option value="5">Hoodie</option>
          <option value="6">Sweater</option>
          <option value="7">Trouser</option>
          <option value="8">Track Pant</option>
          <option value="9">Short</option>
          <option value="10">Jeans</option>
        </select>
      </div>
      <div class="form-group p-2">
        <label for="exampleInputPassword1">Description</label>
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="Enter Description"
               formControlName="description">
      </div>
      <div class="form-group p-2">
        <label for="exampleInputPrice1">Price</label>
        <input type="number" step="0.01" class="form-control" id="exampleInputPrice1"
               placeholder="Enter Price"
               formControlName="price">
      </div>
      <button type="submit" class="btn btn-create ms-2">Submit</button>
    </form>
  </div>


</section>
